* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.profile-container {
  width: 90vw;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.profile-missions,
.profile-rockets {
  width: 47%;
}

h2 {
  padding: 0.5rem;
}

.profile-table {
  border: 1px solid grey;
  border-radius: 2px;
}

.profile-table > li {
  border-bottom: 1px solid grey;
  padding: 1rem;
}

.profile-table > li:last-child {
  border: none;
}
