@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-menu {
  padding: 40px 0 30px 0;
  margin: -20px 0 0 0;
  width: 100vw;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: white;
  border: 2px solid rgb(230, 226, 226);
}

.menu-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.menu-li {
  margin: 2.2px 15px 0 5px;
  color: rgb(95, 95, 95);
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 132, 255);
  margin: 0 20px 0 40px;
  font-size: 35px;
  height: 50px;
  width: 50px;
}

.active {
  color: rgb(134, 0, 0);
  text-decoration: underline;
}
